/* ==================== *  chat box * ============================= */


.chat_box{
    width: 800px;
    margin: 20px auto;
    border: 1px solid #d3d3d3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



.heading_chatbox img{
 width: 60px;
 border-radius: 50%;
 margin-left: 15px;
}
.img_name_chat{
    display: flex;
    align-items: center;
}
.img_name_chat h2{
    margin-left: 15px;
}
.heading_chatbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d3d3d3;
    padding: 4px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.heading_chatbox i{
    margin-right: 15px;
    color: black;
    cursor: pointer;
    transition: all 0.3s;
}
.heading_chatbox i:hover{
    margin-right: 13px;
    font-size: 21px;
}




.see_chat{
    background-color: #ebeeef;
    height: 500px;
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
#message{
    border-radius: 6px;
    border: 1px solid grey;
    background-color: white;
    margin: 20px;
    padding: 8px 10px;
    font-size: 15px;
    display: none;
}



.send_message input{
    width: 100%;
    padding: 15px 16px;
    font-size: 16px;
    border: none;
    outline: none;
}
.send_message i{
    color: white;
    background-color: black;
    padding: 15px;
    font-size: 22px;
    border-radius: 50%;
    cursor: pointer;
}
.send_message{
    display: flex;
    justify-content: space-between;
}
#demo{
    display: none;
}