@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    height: 4.5em;
    background: #f7f8f9;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
}
.center-header{
    display: flex;
    width: 100%;
}
.arrow{
    color: #002f34;
    margin: 1.5% 2%;
    font-size: 1.5em;
}
.post h1{
    padding: .6em 0;
    text-align: center;
    font-size: 24px;
    color: #173234;
}
.main{
    width: 850px;
    height: 650px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 5px;
}
.main h4{
    padding: 20px 30px;
    color: #002f34;
}
nav{
    width: 50%;
}
nav ul{
    position: relative;
    list-style-type: none;
}
nav ul li{
    padding: 12px 10px;
    color: #5c7a7d;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left: none;
    border-bottom: none;
}
nav ul li:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
nav ul li i{
    font-size: 20px;
    width: 40px;
    position: relative;
}
nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #5c7a7d;
}
nav ul li span{
    position: absolute;
    right: 0;
}
.first-link:hover,.second-link:hover{
    color: #002f34;
    background-color: #cfcdcd;
}
nav ul ul{
    position: absolute;
    left:  425px;
    top: 0;
    width: 100%;
    display: none;
}
nav ul ul li{
    padding: 13.2px 20px;
}
nav ul ul li{
    border-right: none;
}
nav ul .first-link{
    position: relative;
}
nav ul .first-link:hover ul{
    display: initial;
}
#position{
    top: -140px;
}
#position-2{
    top: -235px;
}
#position-3{
    top: -187px;
}
#position-4{
    top: -140px;
}
#position-5{
    top: -187px;
}
.footer{
    height: 50px;
    width: 100%;
    background-color: #002f34;
    margin-top: 2%;
}