body{
    background-color: rgb(169, 166, 166);
}

#navbarhead{
    width: 100%;
    background-color:#294245;
    height: 50px;
    color: white;
}

#navbar_wrapper{
    width:90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

.adminmenus{
    width: 25%;
    display: flex;
    gap: 30px;
    padding: 10px;
}

.adminlogo{
    width: 75%;
}

.adminmenus div a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.dashboardmain{
    width: 100%;
    
    padding: 50px 0px;
}

.dashcontainer{
    width: 80%;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    margin: auto;
}

.dmaincard{
    background-color: white;
    border-left: 0.25rem solid #4e73df!important;
    padding: 0.5rem 0;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.dfirstcard{
    padding: 1.25rem
}

.dcontent{
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.contentflexone{
    padding-right: 0;
    padding-left: 0;
    margin-right: 0.5rem!important;
    flex-basis: 0;
    flex-grow: 1;
}

.dtext{
    font-size: 1.2rem;
    color: #4e73df;   
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.dcount{
    color: #5a5c69;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 1.25rem;
    line-height: 1.2;
}

.contentflextwo{
    padding-right: 0;
    padding-left: 0;
}

.contentflextwo>i{
    color: #dddfeb;
    font-weight: 900;
    font-size: 2em;
}

/* display users */

#noofusers{
    width: 100%;
}

.displayusers{
    width: 80%;
    margin: auto;
}

.userdisplaytable>table{
    width: 100%;
}

#displaybikesad>div>table{
    width: 80%;
    margin: auto;
    background-color: white;
    border: 1px solid black;
}

#displaybikesad>div>table td{
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  #displaymobilesad>div>table{
    width: 80%;
    margin: auto;
    background-color: white;
    border: 1px solid black;
}

#displaymobilesad>div>table td{
    padding: 10px;
}

td img{
    width:100px;
    height: 100px;
}

#displayapartmentad>div>table{
    width: 80%;
    margin: auto;
    background-color: white;
    border: 1px solid black;
}

#displayapartmentad>div>table td{
    padding: 10px;
}

table{
    background-color: white;
}

td{
    padding: 10px;
}

div>h3{
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
    text-decoration: blink;
}

/* additional */

h3 {
    font-size: 5em;
    font-family: serif;
    color: transparent;
    text-align: center;
    animation: effect 2s linear infinite;
    
}

@keyframes effect {
    0% {
        background: linear-gradient(
                #008000, #00FF00);
        -webkit-background-clip: text;
    }

    100% {
        background: linear-gradient(
                #3CE7D7, #0213ff);
        -webkit-background-clip: text;
    }
}