* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/** === BANNER === */

#banner_img_homepage {
  position: relative;
  width: 100%;
}
#banner_img_homepage img {
  height: 140px;
  width: 100%;
}
#homepage_top_parent_div {
  padding-bottom: 15px;
  padding-top: 5px;
}
#banner_img_homepage button {
  position: absolute;
  top: 34%;
  font-size: 16px;
  left: 52%;
  border: 5px solid #fff;
  border-radius: 4px;
  background-color: #fff;
  width: 6%;
  height: 29%;
  color: #002f34;
}
#banner_img_homepage button:hover {
  background-color: initial;
  color: #fff;
  cursor: pointer;
}

/** === ADVERTISEMENT === */
#advertisement_homepage_top img {
  margin-top: 30px;
  margin-left: 18%;
  cursor: pointer;
}

/** === HOMEPAGE === */
#homepage_top_parent {
  width: 80%;
  height: 340px;
  background-color: #ebeeef;
  margin: auto;
  margin-top: 40px;
  padding: 15px 25px;
}
.head_span {
  font-size: 24px;
}
#homepage_top_parent_div button {
  color: rgb(26, 26, 26);
  border: 0px;
  font-size: 14px;
  background-color: #ebeeef;
}
#homepage_top_parent_div button:hover {
  cursor: pointer;
  border-bottom: 2px solid rgb(26, 26, 26);
}
#homepage_top_parent_div {
  display: flex;
  justify-content: space-between;
}

/* * === TOP_DIV === */

#homepage_top_child p {
  color: grey;
  text-align: left;
}
#homepage_top_child h3 {
  text-align: left;
}
#homepage_top_child .first_p {
  color: #333;
  text-align: left;
}
#homepage_top_child p:last-child {
  font-size: 12px;
  text-align: right;
}
#homepage_top_child button {
  font-size: 20px;
  background-color: #fff;
  cursor: pointer;
  border: 0;
}
#homepage_top_child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
  cursor: pointer;
  align-items: center;
  margin: auto;
  height: auto;
}
#homepage_top_child img {
  margin-top: -25px;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}
#homepage_top_child > div {
  text-align: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px 20px;
}
#homepage_top_child > div button {
  margin-left: 88%;
}

/* * === 2nd DIV === */

#homepage_scnd_parent {
  width: 77%;
  margin: auto;
  margin-top: 30px;
}
#homepage_scnd_child p {
  color: grey;
  text-align: left;
}
#homepage_scnd_child h3 {
  text-align: left;
}

#homepage_scnd_child .first_p {
  color: #333;
  text-align: left;
}
#homepage_scnd_child p:last-child {
  font-size: 12px;
  margin-top: 5px;
  text-align: right;
}
#homepage_scnd_child button {
  font-size: 20px;
  background-color: #fff;
  cursor: pointer;
  border: 0;
}
#homepage_scnd_child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
  align-items: center;
  cursor: pointer;
  margin: auto;
  margin-top: 5px;
  height: auto;
}
#homepage_scnd_child img {
  margin-top: -25px;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}
#homepage_scnd_child > div {
  text-align: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 15px 20px;
  height: 280px;
}
#homepage_scnd_child > div button {
  margin-left: 88%;
}

#homepage_load_more {
  margin-left: 50%;
  width: 120px;
  font-size: 16px;
  height: 50px;
  margin-top: 15px;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 5px;
  background-color: initial;
  margin-bottom: 27px;
}

#homepage_load_more:hover {
  border: 5px solid black;
}

/* * -------------- ADVERTISEMENT DIV ------------- */

#homepage_advertisement_div {
  width: 70%;
  margin: auto;
}
#homepage_advertisement_child_div {
  display: grid;
  width: 100%;
  margin: auto;
  margin-left: -50px;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
}
#homepage_advertisement_child_div img {
  height: 180px;
  width: 170px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition-duration: 150ms;
  background-color: #fff;
}
#homepage_advertisement_scnd_child_div {
  margin-bottom: 40px;
  margin-left: -5px;
  position: sticky;
}
#homepage_advertisement_child_div img:hover {
  /* height: 220px;
    width: 200px; */
  transform: scale(1.1);
  margin-top: -20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 3;
}

/** === advertisement === */

#advertisement_homepage_bottom {
  margin-top: 30px;
  margin-left: 20%;
  cursor: pointer;
}
#advertisement_homepage_bottom img {
  width: 75%;
}

/*   ====== MEDIA QUERY ======  */

/* MEDIUM SCREEN */
@media screen and (max-width: 1280px) {
  body {
    background: #000;
  }
  
  #homepage_scnd_child{

    grid-template-columns: repeat(4, 1fr);
  }



}






/* SMALL SCREEN */
@media screen and (max-width: 760px) {
  body {
    background: yellow;
  }

}






/*  SMALLER SCREEN */
@media screen and (max-width: 576px) {
body {
    background: red;
  }
  #banner_img_homepage img {
    height: 50px;
  }
  #banner_img_homepage button{
    font-size: 5px;
    
  }
  #banner_img_homepage button:hover{
    border: 3px solid #fff;
  }
  #advertisement_homepage_top img{
    width: 70%;
    margin: 15px 0px 0px 80px;
  }
  #homepage_top_parent{
    height: 1100px;
    padding: 15px 35px;
    margin-top: 20px;
  }
  .head_span {
    font-size: 18px;
  }
  #homepage_top_parent_div button {
    font-size: 10px;
  }
  #homepage_top_parent_div button:hover {
    cursor: pointer;
    border-bottom: 1.5px solid rgb(26, 26, 26);
  }
  #homepage_top_child {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
  #homepage_top_child p {
    font-size: 12px;
  }
  #homepage_top_child h3{
    font-size: 14px;
  }
  #homepage_top_child p:last-child{
    font-size: 9px;
  }
  #homepage_top_child img {
    height: 150px;
    width: 180px;
    margin-top: -15px;
    margin-left: -10px;
  }
  #homepage_scnd_parent {
    width: 80%;
  }
  #homepage_scnd_child{
    grid-template-columns: repeat(1, 1fr);
    gap: 17px;
  }





} 
