* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/** ============= BANNER =========== */
* img{
  cursor: pointer;
}
#banner_img_homepage img{
  width: 100%;
  margin-bottom: 25px;
  
}
#advertisement_homepage_top img{
  margin-left: 18%;
  margin-bottom: 40px;
}
#homepage_top_parent{
  width: 80%;
  margin: auto;
  background-color: #ebeeef;
  padding: 15px 25px;
}
.head_span {
  font-size: 24px;
}
#homepage_top_parent_div button {
  color: rgb(26, 26, 26);
  border: 0px;
  font-size: 14px;
  background-color: #ebeeef;
}
#homepage_top_parent_div button:hover {
  cursor: pointer;
  border-bottom: 2px solid rgb(26, 26, 26);
}
#homepage_top_parent_div {
  display: flex;
  justify-content: space-between;
}
#homepage_top_child p {
  color: grey;
  text-align: left;
}
#homepage_top_child h3 {
  text-align: left;
}
#homepage_top_child .first_p {
  color: #333;
  text-align: left;
}
#homepage_top_child p:last-child {
  font-size: 12px;
  text-align: right;
}
#homepage_top_child button {
  font-size: 20px;
  background-color: #fff;
  cursor: pointer;
  border: 0;
}
#homepage_top_child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
  cursor: pointer;
  align-items: center;
  margin: auto;
  height: auto;
}
#homepage_top_child img {
  margin-top: -25px;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}
#homepage_top_child > div {
  text-align: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px 20px;
}
#homepage_top_child > div button {
  margin-left: 88%;
}

/* * === 2nd DIV === */

#homepage_scnd_parent {
  width: 77%;
  margin: auto;
  margin-top: 30px;
}
#homepage_scnd_child p {
  color: grey;
  text-align: left;
}
#homepage_scnd_child h3 {
  text-align: left;
}

#homepage_scnd_child .first_p {
  color: #333;
  text-align: left;
}
#homepage_scnd_child p:last-child {
  font-size: 12px;
  margin-top: 5px;
  text-align: right;
}
#homepage_scnd_child button {
  font-size: 20px;
  background-color: #fff;
  cursor: pointer;
  border: 0;
}
#homepage_scnd_child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
  align-items: center;
  cursor: pointer;
  margin: auto;
  margin-top: 5px;
  height: auto;
}
#homepage_scnd_child img {
  margin-top: -25px;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}
#homepage_scnd_child > div {
  text-align: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 15px 20px;
  height: 280px;
}
#homepage_scnd_child > div button {
  margin-left: 88%;
}

#homepage_load_more {
  margin-left: 50%;
  width: 120px;
  font-size: 16px;
  height: 50px;
  margin-top: 15px;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 5px;
  background-color: initial;
  margin-bottom: 27px;
}

#homepage_load_more:hover {
  border: 5px solid black;
}

/* * -------------- ADVERTISEMENT DIV ------------- */

#homepage_advertisement_div {
  width: 70%;
  margin: auto;
}
#homepage_advertisement_child_div {
  display: grid;
  width: 100%;
  margin: auto;
  margin-left: -50px;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
}
#homepage_advertisement_child_div img {
  height: 180px;
  width: 170px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition-duration: 150ms;
  background-color: #fff;
}
#homepage_advertisement_scnd_child_div {
  margin-top: 1px;
  margin-bottom: 40px;
  margin-left: -55px;
  position: sticky;
}
#homepage_advertisement_child_div img:hover {
  /* height: 220px;
    width: 200px; */
  transform: scale(1.1);
  margin-top: -20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 3;
}

/** === advertisement === */

#advertisement_homepage_bottom {
  margin-top: 30px;
  margin-left: 20%;
}
#advertisement_homepage_bottom img {
  width: 75%;
}





  /* ?  ====== MEDIA QUERY ======  */
  
  /** MEDIUM SCREEN */
  @media screen and (max-width: 1280px) {
    #banner_img_homepage img {
      height: 120px;
    }
    #advertisement_homepage_top img{
      width: 85%;
      margin: 40px 0px 10px 105px;
    }
    #homepage_top_parent{
      width: 75%;
      height: auto;
      padding: 15px 35px;
      margin-top: 20px;
    }
    #homepage_top_parent_div button {
      font-size: 14px;
    }
    #homepage_top_child {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
      padding: 10px;
    }
    #homepage_top_child img {
      height: 150px;
      width: 180px;
      margin-top: -15px;
      margin-left: -10px;
    }
    #homepage_scnd_parent {
      width: 85%;
      
    }
    #homepage_scnd_child p {
      font-size: 14px;
    }
    #homepage_scnd_child p:last-child {
      font-size: 11px;
    }
    #homepage_scnd_child div{
      padding: 14px 15px;
    }
    #homepage_scnd_child div img{
      margin-left: -20px;
    }
    #homepage_load_more {
      margin-left: 47%;
      width: 140px;
      font-size: 18px;
      height: 45px;
      margin-top: 35px;
      margin-bottom: 25px;
    }
    #homepage_advertisement_child_div {
      width: 90%;
      margin-left: 5%;
      grid-template-columns: repeat(5, 1fr);
    }
    #homepage_advertisement_scnd_child_div {
      margin-bottom: 40px;
      margin-left: 4.5%;
      
    }
    #homepage_advertisement_scnd_child_div img{
      width: 40%;
    } 
    #advertisement_homepage_bottom img{
      width: 93%;
      margin-left: -10%;
      margin-bottom: 25px;
    }
  }
  @media screen and (max-width: 915px) {
    
    #advertisement_homepage_top img{
      margin-left: 8%;
      margin-top: -0.10%;
    }
    #homepage_scnd_child {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
    #homepage_advertisement_child_div {
      margin-left: -30px;
      grid-template-columns: repeat(3, 1fr);
    }
    #homepage_advertisement_scnd_child_div {
      width: 150%;
      margin-left: -35px;  
    }



  }
  
   /* SMALL SCREEN */
   @media screen and (max-width: 770px) {
    #banner_img_homepage img {
      height: 0px;
    }
    #advertisement_homepage_top img{
      width: 70%;
      margin: -15px 0px 0px 15%;
    }
    #homepage_top_parent_div button {
      font-size: 11px;
    }
    #homepage_top_parent{
      width: 65%;
      height: 560px;
      padding: 15px 20px;
      margin-top: 20px;
    }
    .head_span {
      font-size: 20px;
    }

    #homepage_top_child {
      grid-template-columns: repeat(2, 1fr);
      gap: 18px;
      padding: 7px;
    }
    #homepage_top_child p {
      font-size: 13px;
    }
    #homepage_top_child h3{
      font-size: 14px;
    }
    #homepage_top_child p:last-child{
      font-size: 9px;
    }
    #homepage_top_child img {
      height: 120px;
      width: 150px;
      margin-top: -10px;
      margin-left: -25px;
    }
    #homepage_scnd_parent {
      width: 75%;
      margin-left: 14%;
    }
    #homepage_scnd_child {
      
      grid-template-columns: repeat(2, 1fr);
    }
    #homepage_scnd_child p {
      font-size: 13px;
      
    }
    #homepage_scnd_child h3 {
      font-size: 14px;
    }
    #homepage_scnd_child p:last-child {
      font-size: 9px;
    }
    #homepage_scnd_child div{
      padding: 12px 25px;
    }
    #homepage_load_more {
      margin-left: 42%;
      width: 100px;
      font-size: 14px;
      height: 40px;
      margin-top: 25px;
    }
    #homepage_load_more:hover {
      border: 3.5px solid black;
    }
    #homepage_advertisement_child_div {
      margin-left:1%;
      grid-template-columns: repeat(3, 1fr);
    }
    #homepage_advertisement_scnd_child_div {
      margin-bottom: 40px;
      margin-left: 3px;
    }
    #homepage_advertisement_scnd_child_div img{
      width: 48.9%;
    }
  
  }
  
  @media screen and (max-width: 576px) {
    #advertisement_homepage_top img{
      width: 70%;
      margin: 15px 0px 0px 60px;
    }
    #homepage_top_parent{
      height: 1120px;
      padding: 15px 35px;
      margin-top: 20px;
    }
    .head_span {
      font-size: 18px;
    }
    #homepage_top_parent_div button {
      font-size: 10px;
    }
    #homepage_top_child {
      margin-left: -12px;
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
    }
    #homepage_top_child p {
      font-size: 12px;
    }
    #homepage_top_child h3{
      font-size: 14px;
    }
    #homepage_top_child p:last-child{
      font-size: 9px;
    }
    #homepage_top_child img {
      height: 150px;
      width: 180px;
      margin-top: -15px;
      margin-left: -10px;
    }
    #homepage_scnd_parent {
      width: 65%;
    }
    #homepage_scnd_child {
      grid-template-columns: repeat(1, 1fr);
    }
    #homepage_scnd_child p {
      font-size: 12px;
      
    }
    #homepage_scnd_child h3 {
      font-size: 14px;
    }
    #homepage_scnd_child p:last-child {
      font-size: 9px;
    }
    #homepage_scnd_child div{
      padding: 16px 30px;
    }
    #homepage_load_more {
      margin-left: 38%;
      width: 100px;
      font-size: 14px;
      height: 40px;
      margin-top: 25px;
    }
    #homepage_load_more:hover {
      border: 3.5px solid black;
    }
    #homepage_advertisement_child_div {
      margin-left: -25px;
      grid-template-columns: repeat(2, 1fr);
    }
    #homepage_advertisement_scnd_child_div {
      margin-bottom: 40px;
      margin-left: -25px;
    }
    #homepage_advertisement_scnd_child_div img{
      width: 60%;
    }
    #advertisement_homepage_bottom img {
      margin-left: -50px;
    }
  
  }

