*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 40%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: auto;
    padding: 40px;
    margin-top: 50px;
    border-radius: 5px;
}
#container input{
    height: 30px;
    margin-bottom: 30px;
    border-color: teal;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 3px;
    width: 400px;
    outline: none;
}
h1{
    margin-bottom: 50px;
    color: teal;
}
p{
    margin-top: -30px;
    margin-left: 480px;
}
a{
    margin-left: 500px;
    color: teal;
}
button{
  text-decoration: none;
  border: none;
  background-color: rgb(100, 173, 173);
  width: 200px;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 22px;
  color: white;
  cursor: pointer;
}
button:hover{
    background-color: rgb(0, 128, 128);
}
#heading{
    display: flex;
    height: 100px;
    align-items: center;
    background-color: rgb(241, 234, 234);
  }
  #heading img{
    width: 150px;
    float: left;
    cursor: pointer;
  }