*{
    font-family:Roboto,sans-serif,Arial, Helvetica, sans-serif;
    color: rgba(0, 47, 52, 0.64);
    /* font-size: 14px; */
    font-weight: 400;
}

#product{
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 120px;
}
#categories{
    width: 25%;
    border: 0px solid red;
}
#cards{
    width: 75%;
    border: 0px solid green;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px; 
}
.card{
    width: 100%;
    height: 320px;
    margin: auto;
    /* line-height: 15px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    text-align: 20px; 
    padding: 5px;
}

.card h5{
    /* margin-top: -8px; */
    font-weight: 600;
}
.card h2{
    font-weight: 900;
}
.cardimg{
    height: 150px;
    padding:0px 30px;
    margin-left: 20px;
}
.cardimg img{
   height: 100%;
   width: 80%;
   border-radius: 5px;
}
